@import '../global';

%timeDisplay {
  display: inline-block;
  min-width: 1.1em;
}

.seconds {
  @extend %timeDisplay;
}

.minutes {
  @extend %timeDisplay;
}

.hours {
  @extend %timeDisplay;
}

.timeContainer {
  font-size: 16vw;
  color: #fff;
  font-weight: 700;
}

.timeContainerFinished {
  @extend .timeContainer;

  color: $timer-finished-color;
}
