@import '../global';

%timeDisplay {
  display: inline-block;
  min-width: 1.1em;
  text-align: center;
}

.seconds {
  @extend %timeDisplay;
}

.minutes {
  @extend %timeDisplay;
}

.hours {
  @extend %timeDisplay;
}

.tick {
  @extend %timeDisplay;
}

.timeContainer {
  font-size: 16vw;
  color: #fff;
  font-weight: 700;
}

.timeContainerFinished {
  @extend .timeContainer;

  color: $timer-finished-color;
}

.labelUnderTimer {
  color: $label-under-timer-color;
  display: block;
  text-align: center;
  font-size: 2em;
  height: 2em;
}
