.timepiece {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  box-shadow: 2px 2px 4px 0px #dfdfdf;
  font-size: 4rem;
  font-weight: 600;

  &:nth-of-type(n+2) {
    margin-top: 0.3em;
  }
}
