$default-font-family: 'Helvetica Neue', 'Arial', sans-serif;
$default-text-color: #888;
$default-background: #000;
$text-input-font-weight: 700;
$text-input-background: #0d0d0d;
$timer-finished-color: #333;
$label-under-timer-color: #666;
