@import 'normalize';
@import 'global';

html {
  font-family: $default-font-family;
  font-size: 16px;
}

body {
  margin: 0;
  background: $default-background;
  color: $default-text-color;
  fill: #fff;
}

.appContainer {
  display: flex;
}

.appContainerWithHiddenCursor {
  @extend .appContainer;

  cursor: none;
}

.timerMenu,
.settingsMenu {
  flex: 0 0 10em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.timerMenu {
  transition: visibility 0.3s, opacity 0.3s ease;
}

.timerMenuHidden {
  @extend .timerMenu;

  opacity: 0;
  visibility: hidden;
}

.timerMenuVisible {
  @extend .timerMenu;

  opacity: 1;
  visibility: visible;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}
