@import 'normalize';

$default-font-family: 'Helvetica Neue', 'Arial', sans-serif;
$default-text-color: #888;
$default-background: #000;

html {
  font-family: $default-font-family;
  font-size: 16px;
}

body {
  margin: 0;
  background: $default-background;
  color: $default-text-color;
  fill: #fff;
}

.appContainer {
  display: flex;
}

.timerMenu,
.settingsMenu {
  flex: 0 0 10em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main {
  flex: 1;
}
